ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-gallery {
  display: flex;
  max-width: 1128px;
  margin: 0 auto;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
