h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 1128px;
  background-color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
